.snakemake
bin/
resources/*
.ipynb_checkpoints
workflow/scripts/GenoPred
workflow/scripts/ldpred
workflow/scripts/ldsc
workflow/scripts/DBSLMM
logs/
logs/results/UKBB
*.ipynb
workflow/scripts/PRScs/
lifover/
R/
config/target_list.tsv
config/pop_prevalence.tsv
config/studies.tsv
workflow/scripts/ldak
prs/
